<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PDF Server</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="styles.css") }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body>
		<div id="error-box" style="display: none">
			<div>
				<p id="error-box-title">Error</p>
				<p id="error-box-text">There was a problem</p>
			</div>
			<button id="error-box-dismiss">Close</button>
		</div>
		<form id="clip">
			<h1 id="clip-title">PDF Extraction Request Form</h1>
			<div class="input-row">
				<label for="select-pdf" class="input-label">Select a PDF</label>
				<select id="select-pdf" class="input-field">
					<option>Custom Upload</option>
					{% for pdf_name in pdf_list %}
						<option>{{ pdf_name }}</option>
					{% endfor %}
				</select>
			</div>
			<label class="input-row input-label input-field" id="pdf-upload-label">
				<span id="upload-text">Upload a PDF</span>
				<input type="file" accept="application/pdf" id="pdf-upload" class="hidden">
			</label>
			<div class="input-row">
				<label for="page-range" class="input-label">Page Range</label>
				<input type="text" id="page-range" class="input-field">
			</div>
			<label class="input-row input-label input-field" id="submit-label">
				<span>Create PDF</span>
				<input type="submit" class="hidden">
			</label>
		</form>
		<script src="{{ url_for("static", filename="scripts.js") }}"></script>
	</body>
</html>